<h2>recent games</h2>
{{#if this.loaded}}
  <h6>In Progress</h6>
  <ul class="mdl-list">
    {{#each this.inProgress as |pg|}}
      <RecentGames::GameEntry @name={{pg.name}} @playerX={{pg.playerX}} @playerO={{pg.playerO}} @winner={{pg.winner}} />
    {{/each}}
  </ul>
  <h6>Completed</h6>
  <ul class="mdl-list">
    {{#each this.completed as |comp|}}
      <RecentGames::GameEntry @name={{comp.name}} @playerX={{comp.playerX}} @playerO={{comp.playerO}} @winner={{comp.winner}} />
    {{/each}}
  </ul>
{{else}}
  <p>Loading games</p>
{{/if}}