<Board @board={{this.board}}>
  <div {{did-insert this.mountedBoard}} >
    <h2>gameId : {{@gameId}}</h2>
    <h2>You are: {{@player}}</h2>
    <h2>PlayerX: {{this.playerX}}</h2>
    <h2>PlayerO: {{this.playerO}}</h2>
    <h2>next Turn: {{this.nextTurn}}</h2>
    {{#if this.winner}}
      <h2>Winner: {{this.winner}}</h2>
      <LinkTo @route="multiplayer">go back</LinkTo>
    {{/if}}
  </div>

</Board>