<Board @board={{this.board}}>
  <div {{did-insert this.mountedBoard}} >
    <div>gameId : {{@gameId}}</div>
    <div>You are: {{@player}}</div>
    <div>PlayerX: {{this.playerX}}</div>
    <div>PlayerO: {{this.playerO}}</div>
    <div>next Turn: {{this.nextTurn}}</div>
  </div>
</Board>